* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans Condensed";
  display: flex;
  justify-content: center;
  padding: 20px 80px;
  .app {
    max-width: 800px;
  }
}

a {
  text-decoration: none;
  color: black;
}
