.upper-panel{
    display: flex;
    direction: row;
    padding: 0px 25px;
    .text-area {
        flex: 1 1;
    }
    .button-area {
        display: flex;
        align-items: center;
        .myButton {
            background-color: black;
        }
    }
}